@font-face {
	font-family: 'BlinkMacSystemFont-Thin';
	src: url('../fonts/BlinkMacSystemFont/blinkmacsystemfont-thin.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/BlinkMacSystemFont/blinkmacsystemfont-thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/BlinkMacSystemFont/blinkmacsystemfont-thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/BlinkMacSystemFont/blinkmacsystemfont-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/BlinkMacSystemFont/blinkmacsystemfont-thin.ttf') format('truetype'), /* Safari, Android, iOS */
}